<a href="https://colab.research.google.com/github/KANISHRED/KANISHRED/blob/main/Association_rule(market_basket_analysis).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
get_ipython().system('pip install mlxtend')

Collecting mlxtend
  Downloading mlxtend-0.22.0-py2.py3-none-any.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 1.1 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.24.2 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (3.4.3)
Collecting scikit-learn>=1.0.2
  Downloading scikit_learn-1.3.0-cp39-cp39-macosx_10_9_x86_64.whl (10.2 MB)
     |████████████████████████████████| 10.2 MB 1.7 MB/s eta 0:00:01
Requirement already satisfied: scipy>=1.2.1 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: joblib>=0.13.2 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: setuptools in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Collecting joblib>=0.13.2
  Downloading joblib-1.3.1-py3-none-any.whl (301 kB)
     |████████████████████████████████| 301 kB 2.0 MB/s eta 0:00:01
Collecting numpy>=1.16.2
  Downloading numpy-1.22.4-cp39-cp39-macosx_10_15_x86_64.whl (17.7 MB)
     |████████████████████████████████| 17.7 MB 3.1 MB/s eta 0:00:01
Installing collected packages: numpy, joblib, scikit-learn, mlxtend
  Attempting uninstall: numpy
    Found existing installation: numpy 1.23.5
    Uninstalling numpy-1.23.5:
      Successfully uninstalled numpy-1.23.5
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.2
    Uninstalling scikit-learn-0.24.2:
      Successfully uninstalled scikit-learn-0.24.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
daal4py 2021.3.0 requires daal==2021.2.3, which is not installed.
tensorflow 2.10.0 requires protobuf<3.20,>=3.9.2, but you have protobuf 3.20.1 which is incompatible.
tensorboard 2.10.0 requires protobuf<3.20,>=3.9.2, but you have protobuf 3.20.1 which is incompatible.
Successfully installed joblib-1.3.1 mlxtend-0.22.0 numpy-1.22.4 scikit-learn-1.3.0

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
df = pd.read_csv('GroceryStoreDataSet.csv', names = ['products'], sep = ',')
df.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [ ]:
data = df.products.str.split('\s*,\s*', expand=True).stack().str.get_dummies().sum(level=0)

<>:1: DeprecationWarning: invalid escape sequence \s
<>:1: DeprecationWarning: invalid escape sequence \s
/var/folders/j1/klm8dx2j4dqff1377yrwmknm0000gn/T/ipykernel_4504/2803334922.py:1: DeprecationWarning: invalid escape sequence \s
  data = df.products.str.split('\s*,\s*', expand=True).stack().str.get_dummies().sum(level=0)
/var/folders/j1/klm8dx2j4dqff1377yrwmknm0000gn/T/ipykernel_4504/2803334922.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  data = df.products.str.split('\s*,\s*', expand=True).stack().str.get_dummies().sum(level=0)

In [ ]:
data

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

In [ ]:
df_support = apriori(data,min_support=0.2, max_len =2,use_colnames = True)
#association_results=list(association_rules)

/Users/thejasveedevaraj/opt/anaconda3/lib/python3.9/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [ ]:
df_support

    support              itemsets
0      0.35             (BISCUIT)
1      0.20           (BOURNVITA)
2      0.65               (BREAD)
3      0.40              (COFFEE)
4      0.30          (CORNFLAKES)
5      0.25               (MAGGI)
6      0.25                (MILK)
7      0.30               (SUGER)
8      0.35                 (TEA)
9      0.20      (BISCUIT, BREAD)
10     0.20         (MILK, BREAD)
11     0.20        (BREAD, SUGER)
12     0.20          (BREAD, TEA)
13     0.20  (CORNFLAKES, COFFEE)
14     0.20       (COFFEE, SUGER)
15     0.20          (MAGGI, TEA)

In [ ]:
df_association_rules = association_rules(df_support, metric = "confidence", min_threshold = 0.6)

In [ ]:
df_association_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.75,0.250000
1,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.05,0.035714
2,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
3,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.80,0.571429
4,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.25,0.750000